* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
}

html {
    font-size: 10px;
}

body {
    font-size: $baseFontSize;
    min-width: 100%;
}

.profile-container {
    min-width: 320px;
    max-height: 813px;
    width: 80%;
    height: 84vh;
    border-radius: 5px;
    box-shadow: $boxShadow;
    margin: 10px auto;
    @include breakpoint (tablet) {
        max-width: 500px;
    }
}

.profile-container__inner {
    width: 100%;
    height: 95px;
    background-color: $primaryColor;
    border-radius: 5px 5px 0 0;
    @include breakpoint (tablet) {
        max-width: 100%;
    }
}

.user-container {
    width: 90%;
    height: 235px;
    margin: 0 auto;
    margin-top: -59px;
    background-color: $backgroundColor;
    border-radius: 5px;
    box-shadow: $boxShadow;
    display: flex;
    flex-direction: column;
    .share-icon {
        width: 10px;
        height: 10px;
        margin: 11.9px 11.9px 0 0;
        color: $secondaryColor;
        align-self: flex-end;
        cursor: pointer;
    }
}

.avatar-headline-wrapper {
    display: flex;
    flex-direction: column;
    @include breakpoint (tablet) {
        flex-direction: row;
        margin-top: 20px;
        width: 80%;
        margin-left: 20px;
    }
    .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: -70px auto 0 auto;
        background: url("/images/user_avatar.jpg") center center/cover no-repeat $primaryColor;
        @include breakpoint (tablet) {
            margin: 0;
        }
    }
    .headline {
        margin: 0 auto;
        display: flex;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 16px auto 0 auto;
        @include breakpoint (tablet) {
            width: auto;
            margin-left: 18px;
        }
        .name {
            font-size: 18px;
            color: $primaryColor;
            align-self: center;
            font-weight: 600;
            color: $primaryColor;
            position: relative;
        }
        .country {
            align-self: center;
            font-size: 12px;
            color: $lightTextColor;
            @include breakpoint (tablet) {
                align-self: flex-start;
            }
        }
        .heart-icon {
            width: 12px;
            height: 10.7px;
            color: lightgrey;
            position: absolute;
            top: 3px;
            left: 160px;
            cursor: pointer;
        }
    }
}

.social-button-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    @include breakpoint (tablet) {
        margin-top: 19px auto 0 22px;
        ;
        flex-direction: row;
        align-items: center;
    }
}

.social-activity {
    display: flex;
    align-self: center;
    list-style-type: none;
    width: 90%;
    .likes,
    .following,
    .followers {
        font-size: 24px;
        color: $secondaryColor;
        margin-left: 21px;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 30%;
        text-align: left;
        span {
            font-size: 10px;
            color: $socialActivityTextColor;
            line-height: 29px;
            text-align: left;
        }
    }
    .following {
        position: relative;
    }
    .vertical-line {
        height: 38px;
        opacity: 0.1;
        border: 1px solid #979797;
    }
}

.button-follow {
    background-color: $secondaryColor;
    color: white;
    width: 90%;
    max-width: 248px;
    height: 46px;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    font-weight: 600;
    border: none;
    outline: none;
    margin: 21px auto 17px auto;
    cursor: pointer;
    @include breakpoint (tablet) {
        width: 25%;
        min-width: 134px;
        margin: 0 22px 0 35px;
    }
    &:hover {
        background-color: darken($secondaryColor, 10%);
    }
    &:active {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }
}

.comments-container {
    width: 90%;
    min-width: 284px;
    height: 50vh;
    box-shadow: $boxShadow;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    &:first-child() {
        margin-top: 40px;
    }
    .hide-comments {
        margin: 25px auto 10px auto;
        &:link,
        &:visited,
        &:hover,
        &:active {
            font-size: 14px;
            color: $secondaryColor;
            @include breakpoint (tablet) {
                margin-left: 20px;
            }
        }
    }
}

.comment {
    display: flex;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 30px;
    border-bottom: 1px solid #c5c8ce;
    .comment-date {
        color: $primaryColor;
        opacity: 0.5;
        font-size: 14px;
        position: absolute;
        margin-left: 78%;
        margin-right: 5px;
    }
    .comment-avatar {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 11px 0 20px;
        background: url("/images/user_avatar.jpg") center center/cover no-repeat $primaryColor;
    }
    .comment-body {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 71px;
        padding-bottom: 20px;
        .comment-author {
            font-size: 14px;
            color: $primaryColor;
            font-weight: 600;
        }
        .comment-text {
            font-size: 14px;
            color: $darkTextColor;
            line-height: 21px;
            max-width: 80%;
            overflow-x: hidden !important;
        }
    }
}

.add-comment {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    input {
        font-size: 18px;
        width: 90%;
        margin-left: 20px;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid #c5c8ce;
        &:focus {
            outline: none;
        }
        @include placeholder-color($lightTextColor);
    }
}