/* Breakpoints */
$mobile: 499px;
$tablet: 600px;
$desktop: 1200px;

/*Fonts and colors*/
$baseFontSize: 10px; 
$primaryColor: #002c71;
$secondaryColor: #ffa640;
$backgroundColor: #fff;
$lightTextColor: #8298b9;
$darkTextColor: #444444;
